/* base */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0%;
    padding: 0%;
}
/* base */


/* global Div */
#globalDiv {
    width:  100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(139, 139, 168);
}
/* global Div */


/* div Parent */
#leftDiv, #rightDiv {
    background-color: rebeccapurple;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rightDiv {
    background-color: blue;
}
/* div Parent */


/* div qui bouge */
div {
    height: 75px;
    width: 75px;
    background-color: rgb(119, 119, 119);
}
/* div qui bouge */